{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "esmodules": true,
          "browsers": "last 2 versions, > 5%"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "modules": false
      }
    ],

    "@babel/plugin-transform-nullish-coalescing-operator"
  ]
}
