{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "esmodules": true
      }
    }],
    [
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", {
    "modules": false
  }]]
}
