.graphiql-explorer-root {
  font-size: var(--body-font-size) !important;
  font-family: var(--editor-font-family) !important;
}
.graphiql-explorer-root svg path {
  fill: var(--theme-font-color) !important;
}
.history-title-bar {
  display: none !important;
}
div[id^='query-'] {
  border-bottom-color: var(--theme-border-color) !important;
}
.toolbar-button {
  border-radius: 4px;
  background-color: var(--theme-off-bg-color) !important;
  font-size: calc((12 / var(--baseline-size)) * 1rem) !important;
  font-weight: 500 !important;
  transition: all .3s ease;
}
.toolbar-button:hover {
  color: var(--primary-color);
}
.variable-editor-title {
  margin: 0 !important;
  padding: 0 !important;
}
